html {
  font-family: Julius Sans One;
}

body {
  background-color: black;
  text-align: center;
}

table {
  width: 100%;
}

th {
  border-bottom: solid 1px black;
}

.cover {
  display: inline-block;
  vertical-align: middle;
  width: 21cm;
  height: 29.7cm;
  margin: 10mm 45mm 10mm 45mm;
  padding: 10mm 10mm 10mm 10mm;
  background-image: url("bridge.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #643B0F;
}

.vcenter {
  position: relative;
  top: 13.7cm;
}

.page {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 21cm;
  height: 29.7cm;
  margin: 10mm 45mm 10mm 45mm;
  padding: 10mm 10mm 10mm 10mm;
  background-color: #f9f5e9;
}

.page:after {
    counter-increment: page;
    content: counter(page);
    counter-increment: page;
    content:"Page " counter(page);
    position: absolute;
    right: 10mm;
    bottom: 10mm;
    z-index: 20px;
}

@page { size: auto;  margin: 0mm; }
